body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
	min-width: 500px;
}

.container{
	max-width: 24cm;
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:coral;
	color:#fff;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-image:url('../images/showcase.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float: left;
	width: 63%;
	max-width: 12cm;
}

#sidebar{
	float:right;
	width: 30%;
	max-height: 12cm;
    max-width: 6cm;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:800px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}

.selfImg {
	margin-top: 1cm;
	border-radius: 20%;
	max-width:100%;
	max-height:100%;
	/* width: 5cm; */
	/* width: 50%; */
  	/* height: auto; */
}


.experienceHeaderBtn {
	/* float: right; */
	background-color: rgb(240, 238, 238);
  	color: black;
  	border: 2px solid #e7e7e7;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }

  .experienceHeaderBtn:hover {
	background-color: #555555;
	color: white;
  }




.wrap {
	/* max-width:960px; */
	/* background:#f9f9f9; */
	/* margin:auto; */
	text-align:justify;
	/* width:100%; */
	/* font-size:0.1px;Kill white-space */
	height: 1.5cm;
}
.box {
	display:inline-block;
	/* background:red; */
	/* border:1px solid #000; */
	/* padding:5px; */
	vertical-align:top;
	font-size:16px;
	/* font-size:1rem; */
}
.wrap:after{
	content:"";
	display:inline-block;
	height:1px;
	border: 0cm;
	padding: 0cm;
	width:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	margin:0 100% 0 0;
}





#skills-left { display: block; float: left; margin-right: 30px; }
#skills-right { display: block; float: left;}
.flexDiv {display: flex;}

#eduDiv div{
	line-height: 200%;
}



#navbar li :hover {
	color: goldenrod;
}